In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!mkdir ~/.kaggle
!cp /content/drive/MyDrive/kaggle.json /content/
!mv /content/kaggle.json ~/.kaggle/
!chmod 600 /content/.kaggle/kaggle.json

!kaggle datasets download chaitu20/ipl-dataset2008-2025
!unzip /content/ipl-dataset2008-2025.zip -d /content/dataset
import os
os.rename('/content/dataset/IPL.csv', '/content/dataset/data.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
mkdir: cannot create directory ‘/root/.kaggle’: File exists
chmod: cannot access '/content/.kaggle/kaggle.json': No such file or directory
Dataset URL: https://www.kaggle.com/datasets/chaitu20/ipl-dataset2008-2025
License(s): CC0-1.0
ipl-dataset2008-2025.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  /content/ipl-dataset2008-2025.zip
  inflating: /content/dataset/IPL.csv

In [ ]:
from datetime import date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/dataset/data.csv')
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
print(df.info())

/tmp/ipython-input-459583345.py:7: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/dataset/data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278205 entries, 0 to 278204
Data columns (total 64 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         278205 non-null  int64
 1   match_id           278205 non-null  int64
 2   date               278205 non-null  datetime64[ns]
 3   match_type         278205 non-null  object
 4   event_name         278205 non-null  object
 5   innings            278205 non-null  int64
 6   batting_team       278205 non-null  object
 7   bowling_team       278205 non-null  object
 8   over               278205 non-null  int64
 9   ball               278205 non-null  int64
 10  ball_no            278205 non-null  float64
 11  batter             278205 non-null  object
 12  bat_pos            278205 non-null  int64
 13  runs_batter        278205 non-null  int64
 14  balls_faced        278205 non-null  int64
 15  bowler             278205 non-null  object
 16  valid_ball         278205 non-null  int64
 17  runs_extras        278205 non-null  int64
 18  runs_total         278205 non-null  int64
 19  runs_bowler        278205 non-null  int64
 20  runs_not_boundary  278205 non-null  bool
 21  extra_type         15133 non-null   object
 22  non_striker        278205 non-null  object
 23  non_striker_pos    278205 non-null  int64
 24  wicket_kind        13823 non-null   object
 25  player_out         13823 non-null   object
 26  fielders           10013 non-null   object
 27  runs_target        133903 non-null  float64
 28  review_batter      872 non-null     object
 29  team_reviewed      872 non-null     object
 30  review_decision    872 non-null     object
 31  umpire             872 non-null     object
 32  umpires_call       278205 non-null  bool
 33  player_of_match    278205 non-null  object
 34  match_won_by       278205 non-null  object
 35  win_outcome        273503 non-null  object
 36  toss_winner        278205 non-null  object
 37  toss_decision      278205 non-null  object
 38  venue              278205 non-null  object
 39  city               278205 non-null  object
 40  day                278205 non-null  int32
 41  month              278205 non-null  int32
 42  year               278205 non-null  int32
 43  season             278205 non-null  object
 44  gender             278205 non-null  object
 45  team_type          278205 non-null  object
 46  superover_winner   3896 non-null    object
 47  result_type        4702 non-null    object
 48  method             3890 non-null    object
 49  balls_per_over     278205 non-null  int64
 50  overs              278205 non-null  int64
 51  event_match_no     278205 non-null  object
 52  stage              278205 non-null  object
 53  match_number       278205 non-null  object
 54  team_runs          278205 non-null  int64
 55  team_balls         278205 non-null  int64
 56  team_wicket        278205 non-null  int64
 57  new_batter         13321 non-null   object
 58  batter_runs        278205 non-null  int64
 59  batter_balls       278205 non-null  int64
 60  bowler_wicket      278205 non-null  int64
 61  batting_partners   278205 non-null  object
 62  next_batter        13321 non-null   object
 63  striker_out        278205 non-null  bool
dtypes: bool(3), datetime64[ns](1), float64(2), int32(3), int64(21), object(34)
memory usage: 127.1+ MB
None

In [ ]:
df['batting_team'] = df['batting_team'].replace({'Delhi Daredevils':'Delhi Capitals', 'Kings XI Punjab':'Punjab Kings', 'Royal Challengers Bangalore':'Royal Challengers Bengaluru'})

In [ ]:
dfunct_teams = ['Deccan Chargers', 'Gujarat Lions', 'Kochi Tuskers Kerala', 'Rising Pune Supergiant', 'Pune Warriors India']
df = df[~df['batting_team'].isin(dfunct_teams)]
df = df[~df['bowling_team'].isin(dfunct_teams)]

In [ ]:
print(df.columns)
for i in range(64):
  print(df.columns[i])
  print()
  print(df.iloc[:,i].describe())
  print('\n\n')

Index(['Unnamed: 0', 'match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'wicket_kind',
       'player_out', 'fielders', 'runs_target', 'review_batter',
       'team_reviewed', 'review_decision', 'umpire', 'umpires_call',
       'player_of_match', 'match_won_by', 'win_outcome', 'toss_winner',
       'toss_decision', 'venue', 'city', 'day', 'month', 'year', 'season',
       'gender', 'team_type', 'superover_winner', 'result_type', 'method',
       'balls_per_over', 'overs', 'event_match_no', 'stage', 'match_number',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter', 'batter_runs',
       'batter_balls', 'bowler_wicket', 'batting_partners', 'next_batter',
       'striker_out'],
      dtype='object')
Unnamed: 0

count    246705.000000
mean     138161.746787
std       80335.138867
min           0.000000
25%       68339.000000
50%      130015.000000
75%      212732.000000
max      278204.000000
Name: Unnamed: 0, dtype: float64



match_id

count    2.467050e+05
mean     9.800223e+05
std      3.755821e+05
min      3.359820e+05
25%      5.980240e+05
50%      1.136579e+06
75%      1.304081e+06
max      1.485779e+06
Name: match_id, dtype: float64



date

count                           246705
mean     2017-08-18 19:08:23.566608128
min                2008-04-18 00:00:00
25%                2013-04-20 00:00:00
50%                2018-04-21 00:00:00
75%                2022-04-23 00:00:00
max                2025-06-03 00:00:00
Name: date, dtype: object



match_type

count     246705
unique         1
top          T20
freq      246705
Name: match_type, dtype: object



event_name

count                    246705
unique                        1
top       Indian Premier League
freq                     246705
Name: event_name, dtype: object



innings

count    246705.000000
mean          1.482722
std           0.502695
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           6.000000
Name: innings, dtype: float64



batting_team

count             246705
unique                12
top       Mumbai Indians
freq               30953
Name: batting_team, dtype: object



bowling_team

count             246705
unique                15
top       Mumbai Indians
freq               31160
Name: bowling_team, dtype: object



over

count    246705.000000
mean          9.196952
std           5.683361
min           0.000000
25%           4.000000
50%           9.000000
75%          14.000000
max          19.000000
Name: over, dtype: float64



ball

count    246705.000000
mean          3.489317
std           1.708234
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           7.000000
Name: ball, dtype: float64



ball_no

count    246705.000000
mean          9.545884
std           5.684802
min           0.100000
25%           4.500000
50%           9.400000
75%          14.400000
max          19.600000
Name: ball_no, dtype: float64



batter

count      246705
unique        672
top       V Kohli
freq         6167
Name: batter, dtype: object



bat_pos

count    246705.000000
mean          3.607150
std           2.173464
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max          11.000000
Name: bat_pos, dtype: float64



runs_batter

count    246705.000000
mean          1.282929
std           1.656815
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           6.000000
Name: runs_batter, dtype: float64



balls_faced

count    246705.000000
mean          0.966961
std           0.178740
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: balls_faced, dtype: float64



bowler

count       246705
unique         520
top       R Ashwin
freq          4634
Name: bowler, dtype: object



valid_ball

count    246705.000000
mean          0.962794
std           0.189268
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: valid_ball, dtype: float64



runs_extras

count    246705.000000
mean          0.068203
std           0.344427
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: runs_extras, dtype: float64



runs_total

count    246705.000000
mean          1.351132
std           1.643274
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           7.000000
Name: runs_total, dtype: float64



runs_bowler

count    246705.000000
mean          1.326876
std           1.647633
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           7.000000
Name: runs_bowler, dtype: float64



runs_not_boundary

count     246705
unique         2
top        False
freq      246682
Name: runs_not_boundary, dtype: object



extra_type

count     13434
unique        7
top       wides
freq       8150
Name: extra_type, dtype: object



non_striker

count      246705
unique        661
top       V Kohli
freq         6181
Name: non_striker, dtype: object



non_striker_pos

count    246705.000000
mean          3.598739
std           2.186410
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max          11.000000
Name: non_striker_pos, dtype: float64



wicket_kind

count      12234
unique        10
top       caught
freq        7744
Name: wicket_kind, dtype: object



player_out

count       12234
unique        626
top       V Kohli
freq          203
Name: player_out, dtype: object



fielders

count         8876
unique        1008
top       MS Dhoni
freq           197
Name: fielders, dtype: object



runs_target

count    118678.000000
mean        170.772047
std          32.892146
min          43.000000
25%         150.000000
50%         170.000000
75%         191.000000
max         288.000000
Name: runs_target, dtype: float64



review_batter

count            872
unique           202
top       KD Karthik
freq              22
Name: review_batter, dtype: object



team_reviewed

count                       872
unique                       13
top       Kolkata Knight Riders
freq                        107
Name: team_reviewed, dtype: object



review_decision

count             872
unique              2
top       struck down
freq              599
Name: review_decision, dtype: object



umpire

count             872
unique             47
top       Nitin Menon
freq               65
Name: umpire, dtype: object



umpires_call

count     246705
unique         2
top        False
freq      246576
Name: umpires_call, dtype: object



player_of_match

count             246705
unique               291
top       AB de Villiers
freq                5203
Name: player_of_match, dtype: object



match_won_by

count             246705
unique                16
top       Mumbai Indians
freq               34237
Name: match_won_by, dtype: object



win_outcome

count        242266
unique          108
top       6 wickets
freq          25967
Name: win_outcome, dtype: object



toss_winner

count             246705
unique                15
top       Mumbai Indians
freq               34771
Name: toss_winner, dtype: object



toss_decision

count     246705
unique         2
top        field
freq      161482
Name: toss_decision, dtype: object



venue

count           246705
unique              55
top       Eden Gardens
freq             16303
Name: venue, dtype: object



city

count     246705
unique        34
top       Mumbai
freq       39786
Name: city, dtype: object



day

count    246705.000000
mean         15.966271
std           8.577578
min           1.000000
25%           9.000000
50%          16.000000
75%          23.000000
max          31.000000
Name: day, dtype: float64



month

count    246705.000000
mean          4.834438
std           1.666457
min           3.000000
25%           4.000000
50%           4.000000
75%           5.000000
max          11.000000
Name: month, dtype: float64



year

count    246705.000000
mean       2017.272941
std           5.187806
min        2008.000000
25%        2013.000000
50%        2018.000000
75%        2022.000000
max        2025.000000
Name: year, dtype: float64



season

count     246705
unique        22
top         2013
freq       18177
Name: season, dtype: int64



gender

count     246705
unique         1
top         male
freq      246705
Name: gender, dtype: object



team_type

count     246705
unique         1
top         club
freq      246705
Name: team_type, dtype: object



superover_winner

count               3633
unique                 7
top       Delhi Capitals
freq                1037
Name: superover_winner, dtype: object



result_type

count     4439
unique       2
top        tie
freq      3633
Name: result_type, dtype: object



method

count     3694
unique       1
top        D/L
freq      3694
Name: method, dtype: object



balls_per_over

count    246705.0
mean          6.0
std           0.0
min           6.0
25%           6.0
50%           6.0
75%           6.0
max           6.0
Name: balls_per_over, dtype: float64



overs

count    246705.0
mean         20.0
std           0.0
min          20.0
25%          20.0
50%          20.0
75%          20.0
max          20.0
Name: overs, dtype: float64



event_match_no

count      246705
unique        140
top       Unknown
freq        14808
Name: event_match_no, dtype: object



stage

count      246705
unique          7
top       Unknown
freq       231897
Name: stage, dtype: object



match_number

count      246705
unique          1
top       Unknown
freq       246705
Name: match_number, dtype: object



team_runs

count    246705.000000
mean         77.526378
std          50.324921
min           0.000000
25%          36.000000
50%          73.000000
75%         114.000000
max         287.000000
Name: team_runs, dtype: float64



team_balls

count    246705.000000
mean         58.633307
std          34.128173
min           0.000000
25%          29.000000
50%          58.000000
75%          88.000000
max         121.000000
Name: team_balls, dtype: float64



team_wicket

count    246705.000000
mean          2.452427
std           2.104415
min           0.000000
25%           1.000000
50%           2.000000
75%           4.000000
max          10.000000
Name: team_wicket, dtype: float64



new_batter

count        11792
unique         633
top       MS Dhoni
freq           213
Name: new_batter, dtype: object



batter_runs

count    246705.000000
mean         18.419529
std          18.658697
min           0.000000
25%           4.000000
50%          13.000000
75%          27.000000
max         175.000000
Name: batter_runs, dtype: float64



batter_balls

count    246705.000000
mean         14.020004
std          11.846565
min           0.000000
25%           5.000000
50%          11.000000
75%          20.000000
max          73.000000
Name: batter_balls, dtype: float64



bowler_wicket

count    246705.000000
mean          0.045496
std           0.208389
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: bowler_wicket, dtype: float64



batting_partners

count                            246705
unique                             4682
top       ('AB de Villiers', 'V Kohli')
freq                               1854
Name: batting_partners, dtype: object



next_batter

count        11792
unique         633
top       MS Dhoni
freq           213
Name: next_batter, dtype: object



striker_out

count     246705
unique         2
top        False
freq      234948
Name: striker_out, dtype: object

In [ ]:
to_remove = ['Unnamed: 0', 'event_name', 'match_type', 'win_outcome', 'day', 'month','year', 'team_type', 'overs',
             'balls_per_over', 'superover_winner', 'umpire', 'player_of_match','city', 'gender', 'result_type',
             'method', 'match_number', 'next_batter', 'review_decision', 'team_reviewed', 'review_batter']
print(len(to_remove))
df=df.drop(to_remove, axis=1)

22

In [ ]:
def func(row):
  if row['toss_decision'] == 'bat':
     return row['toss_winner']
  else:
    if row['toss_winner'] == row['batting_team']:
      return row['bowling_team']
    else:
      return row['batting_team']
df['first_to_bat'] = df.apply(func, axis=1)

In [ ]:
df = df.drop(['toss_decision' ,'toss_winner'], axis=1)

In [ ]:
print(df.columns)

Index(['match_id', 'date', 'innings', 'batting_team', 'bowling_team', 'over',
       'ball', 'ball_no', 'batter', 'bat_pos', 'runs_batter', 'balls_faced',
       'bowler', 'valid_ball', 'runs_extras', 'runs_total', 'runs_bowler',
       'runs_not_boundary', 'extra_type', 'non_striker', 'non_striker_pos',
       'wicket_kind', 'player_out', 'fielders', 'runs_target', 'umpires_call',
       'match_won_by', 'venue', 'season', 'event_match_no', 'stage',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter', 'batter_runs',
       'batter_balls', 'bowler_wicket', 'batting_partners', 'striker_out',
       'first_to_bat'],
      dtype='object')

In [ ]:
matches = df.drop(['over', 'ball', 'ball_no','batter', 'bat_pos', 'runs_batter',
                   'balls_faced','bowler', 'valid_ball', 'runs_extras',
                   'runs_total', 'runs_bowler', 'runs_not_boundary', 'extra_type',
                   'non_striker', 'non_striker_pos','wicket_kind', 'player_out',
                   'fielders', 'umpires_call', 'event_match_no','new_batter',
                   'batter_runs', 'batter_balls', 'bowler_wicket', 'batting_partners',
                   'striker_out'], axis=1).reset_index(drop=True)
matches['stage'] = matches['stage'].replace({'Unknown': 'league'})

In [ ]:
matches_inning_wise = matches.groupby(['match_id', 'innings']).agg({
    'date':'first'
    ,'venue':'first'
    ,'batting_team':'first'
    ,'bowling_team':'first'
    ,'first_to_bat':'first'
    ,'stage':'first'
    ,'runs_target':'first'
    ,'match_won_by':'first'
    , 'team_runs' : 'last'
    , 'team_balls' :	'last'
    , "team_wicket"	: 'last'

})
matches_inning_wise = matches_inning_wise.reset_index()
matches_inning_wise.head(5)

,match_id,innings,date,venue,batting_team,bowling_team,first_to_bat,stage,runs_target,match_won_by,team_runs,team_balls,team_wicket
0,335982,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,league,NaN,Kolkata Knight Riders,222,120,3
1,335982,2,2008-04-18,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,league,223.0,Kolkata Knight Riders,82,91,10
2,335983,1,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,league,NaN,Chennai Super Kings,240,120,5
3,335983,2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,league,241.0,Chennai Super Kings,207,120,4
4,335984,1,2008-04-19,Feroz Shah Kotla,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,league,NaN,Delhi Daredevils,129,120,8

In [ ]:
matches_sumary = matches_inning_wise.groupby('match_id').agg({
    'match_id':'first'
    ,'date':'first'
    ,'venue':'first'
    ,'batting_team':'first'
    ,'bowling_team':'first'
    ,'first_to_bat':'first'
    ,'stage':'first'
    ,'runs_target':'last'
    ,'match_won_by':'first'
})
matches_sumary= matches_sumary.rename(columns={'batting_team':'team_a', 'bowling_team': 'team_b'}).reset_index(drop=True)
matches_sumary['team_a_runs'] = matches_inning_wise.groupby('match_id').agg({'team_runs':'first'})
matches_sumary['team_b_runs'] = matches_inning_wise.groupby('match_id').agg({'team_runs':'last'})
matches_sumary['team_a_wicket'] = matches_inning_wise.groupby('match_id').agg({'team_wicket':'first'})
matches_sumary['team_b_wicket'] = matches_inning_wise.groupby('match_id').agg({'team_wicket':'last'})
matches_sumary['team_a_balls'] = matches_inning_wise.groupby('match_id').agg({'team_balls':'first'})
matches_sumary['team_b_balls'] = matches_inning_wise.groupby('match_id').agg({'team_balls':'last'})

matches_sumary.head(5)

,match_id,date,venue,team_a,team_b,first_to_bat,stage,runs_target,match_won_by,team_a_runs,team_b_runs,team_a_wicket,team_b_wicket,team_a_balls,team_b_balls
0,335982,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,league,223.0,Kolkata Knight Riders,NaN,NaN,NaN,NaN,NaN,NaN
1,335983,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,league,241.0,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN
2,335984,2008-04-19,Feroz Shah Kotla,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,league,130.0,Delhi Daredevils,NaN,NaN,NaN,NaN,NaN,NaN
3,335985,2008-04-20,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,league,166.0,Royal Challengers Bangalore,NaN,NaN,NaN,NaN,NaN,NaN
4,335987,2008-04-21,Sawai Mansingh Stadium,Punjab Kings,Rajasthan Royals,Kings XI Punjab,league,167.0,Rajasthan Royals,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
innings_1_summary = matches_inning_wise[matches_inning_wise['innings'] == 1]
innings_1_summary = innings_1_summary.drop(['runs_target'], axis =1).reset_index()
innings_2_summary = matches_inning_wise[matches_inning_wise['innings'] == 2].reset_index()

In [ ]:
innings_2_summary

,index,match_id,innings,date,venue,batting_team,bowling_team,first_to_bat,stage,runs_target,match_won_by,team_runs,team_balls,team_wicket
0,1,335982,2,2008-04-18,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,league,223.0,Kolkata Knight Riders,82,91,10
1,3,335983,2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,league,241.0,Chennai Super Kings,207,120,4
2,5,335984,2,2008-04-19,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,league,130.0,Delhi Daredevils,132,91,1
3,7,335985,2,2008-04-20,Wankhede Stadium,Royal Challengers Bengaluru,Mumbai Indians,Mumbai Indians,league,166.0,Royal Challengers Bangalore,166,118,5
4,9,335987,2,2008-04-21,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,league,167.0,Rajasthan Royals,168,109,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,2090,1473508,2,2025-05-29,Maharaja Yadavindra Singh International Cricke...,Royal Challengers Bengaluru,Punjab Kings,Punjab Kings,Qualifier 1,102.0,Royal Challengers Bengaluru,106,60,2
1028,2092,1473509,2,2025-05-30,Maharaja Yadavindra Singh International Cricke...,Gujarat Titans,Mumbai Indians,Mumbai Indians,Eliminator,229.0,Mumbai Indians,208,120,6
1029,2094,1473510,2,2025-06-01,"Narendra Modi Stadium, Ahmedabad",Punjab Kings,Mumbai Indians,Mumbai Indians,Qualifier 2,204.0,Punjab Kings,207,114,5
1030,2096,1473511,2,2025-06-03,"Narendra Modi Stadium, Ahmedabad",Punjab Kings,Royal Challengers Bengaluru,Royal Challengers Bengaluru,Final,191.0,Royal Challengers Bengaluru,184,120,7
1031,2098,1485779,2,2025-05-24,"Sawai Mansingh Stadium, Jaipur",Delhi Capitals,Punjab Kings,Punjab Kings,league,207.0,Delhi Capitals,208,117,4

In [ ]:
innings_1_summary

,index,match_id,innings,date,venue,batting_team,bowling_team,first_to_bat,stage,match_won_by,team_runs,team_balls,team_wicket
0,0,335982,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,league,Kolkata Knight Riders,222,120,3
1,2,335983,1,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,league,Chennai Super Kings,240,120,5
2,4,335984,1,2008-04-19,Feroz Shah Kotla,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,league,Delhi Daredevils,129,120,8
3,6,335985,1,2008-04-20,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,league,Royal Challengers Bangalore,165,120,6
4,8,335987,1,2008-04-21,Sawai Mansingh Stadium,Punjab Kings,Rajasthan Royals,Kings XI Punjab,league,Rajasthan Royals,166,119,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,2089,1473508,1,2025-05-29,Maharaja Yadavindra Singh International Cricke...,Punjab Kings,Royal Challengers Bengaluru,Punjab Kings,Qualifier 1,Royal Challengers Bengaluru,101,85,10
1033,2091,1473509,1,2025-05-30,Maharaja Yadavindra Singh International Cricke...,Mumbai Indians,Gujarat Titans,Mumbai Indians,Eliminator,Mumbai Indians,228,120,5
1034,2093,1473510,1,2025-06-01,"Narendra Modi Stadium, Ahmedabad",Mumbai Indians,Punjab Kings,Mumbai Indians,Qualifier 2,Punjab Kings,203,120,6
1035,2095,1473511,1,2025-06-03,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Punjab Kings,Royal Challengers Bengaluru,Final,Royal Challengers Bengaluru,190,120,9
1036,2097,1485779,1,2025-05-24,"Sawai Mansingh Stadium, Jaipur",Punjab Kings,Delhi Capitals,Punjab Kings,league,Delhi Capitals,206,120,8

In [ ]:
data = df.drop(['over', 'ball','umpires_call',
        'event_match_no', 'striker_out', 'batting_partners', 'umpires_call', 'fielders',], axis =1 )
data.columns

Index(['match_id', 'date', 'innings', 'batting_team', 'bowling_team',
       'ball_no', 'batter', 'bat_pos', 'runs_batter', 'balls_faced', 'bowler',
       'valid_ball', 'runs_extras', 'runs_total', 'runs_bowler',
       'runs_not_boundary', 'extra_type', 'non_striker', 'non_striker_pos',
       'wicket_kind', 'player_out', 'runs_target', 'match_won_by', 'venue',
       'season', 'stage', 'team_runs', 'team_balls', 'team_wicket',
       'new_batter', 'batter_runs', 'batter_balls', 'bowler_wicket',
       'first_to_bat'],
      dtype='object')

In [ ]:
batters_matchwise = data.groupby(["match_id","batter"]).agg({
    'batter':'first',
    'runs_batter':'last',
    'balls_faced':'last',
})
batters_matchwise = batters_matchwise.reset_index(drop=True)
batters = batters_matchwise.groupby(['batter']).agg({
        'batter':'first',
    'runs_batter':'sum',
    'balls_faced':'sum'
})
batters['batting_avg'] = batters['runs_batter']/batters['balls_faced']
batters = batters.reset_index(drop=True)
print(batters)

bowlers_matchwise = data.groupby(["match_id","bowler"]).agg({
   'bowler':'first',
    'runs_bowler':'sum',
    'bowler_wicket':'sum'
})
def count_bowlers(val):
  return data[data['bowler'] == val].shape[0]
bowlers_matchwise = bowlers_matchwise.reset_index(drop=True)
bowlers_matchwise["balls_bowled"] = bowlers_matchwise["bowler"].apply(count_bowlers)
bowlers = bowlers_matchwise.groupby(['bowler']).agg({
        'bowler':'first',
    'runs_bowler':'sum',
    'balls_bowled':'first'
})
bowlers['economy'] = bowlers['runs_bowler']*6/bowlers['balls_bowled']
bowlers = bowlers.reset_index(drop=True)
print(bowlers)

             batter  runs_batter  balls_faced  batting_avg
0    A Ashish Reddy            8           18     0.444444
1          A Badoni           25           46     0.543478
2        A Chandila            1            1     1.000000
3          A Chopra            1            4     0.250000
4       A Choudhary            0            2     0.000000
..              ...          ...          ...          ...
667   Yashpal Singh            0            4     0.000000
668     Younis Khan            0            1     0.000000
669   Yudhvir Singh            1            4     0.250000
670    Yuvraj Singh           49          114     0.429825
671          Z Khan           17           24     0.708333

[672 rows x 4 columns]
             bowler  runs_bowler  balls_bowled    economy
0    A Ashish Reddy          159           101   9.445545
1          A Badoni           49            35   8.400000
2        A Chandila          222           210   6.342857
3       A Choudhary          123            94   7.851064
4       A Dananjaya           47            25  11.280000
..              ...          ...           ...        ...
515     Yash Thakur          770           475   9.726316
516   Yudhvir Singh          253           145  10.468966
517    Yuvraj Singh          923           743   7.453567
518          Z Khan         2397          1958   7.345250
519  Zeeshan Ansari          333           209   9.559809

[520 rows x 4 columns]

In [ ]:
bowlers_matchwise.sort_values(by = 'balls_bowled', ascending=False)

              bowler  runs_bowler  bowler_wicket  balls_bowled
11820       R Ashwin           25              0          4634
11664       R Ashwin           30              0          4634
8000        R Ashwin           27              1          4634
7566        R Ashwin           30              0          4634
5081        R Ashwin            7              1          4634
...              ...          ...            ...           ...
7001         SN Khan            6              0             2
11451   Ishan Kishan            4              0             1
8910     YBK Jaiswal            6              0             1
11313  Atharva Taide            4              0             1
3597    AC Gilchrist            0              1             1

[12240 rows x 4 columns]

In [ ]:
data[data['bowler'] == 'Yuvraj Singh'].shape[0]

743

In [ ]:
df['wicket_kind'] = df['wicket_kind'].fillna('not_out')

In [ ]:
df['wicket_kind'].value_counts()

wicket_kind
not_out                  234471
caught                     7744
bowled                     2044
run out                     991
lbw                         753
caught and bowled           340
stumped                     322
retired hurt                 16
hit wicket                   16
retired out                   5
obstructing the field         3
Name: count, dtype: int64

In [ ]:
df

,match_id,date,innings,batting_team,bowling_team,over,ball,ball_no,batter,bat_pos,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,striker_out,first_to_bat
0,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.1,SC Ganguly,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",False,Kolkata Knight Riders
1,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0.2,BB McCullum,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",False,Kolkata Knight Riders
2,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,BB McCullum,2,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",False,Kolkata Knight Riders
3,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,BB McCullum,2,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",False,Kolkata Knight Riders
4,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0.4,BB McCullum,2,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",False,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19,2,19.2,Shashank Singh,6,...,162,116,7,NaN,39,26,0,"('KA Jamieson', 'Shashank Singh')",False,Royal Challengers Bengaluru
278201,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19,3,19.3,Shashank Singh,6,...,168,117,7,NaN,45,27,0,"('KA Jamieson', 'Shashank Singh')",False,Royal Challengers Bengaluru
278202,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19,4,19.4,Shashank Singh,6,...,172,118,7,NaN,49,28,0,"('KA Jamieson', 'Shashank Singh')",False,Royal Challengers Bengaluru
278203,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19,5,19.5,Shashank Singh,6,...,178,119,7,NaN,55,29,0,"('KA Jamieson', 'Shashank Singh')",False,Royal Challengers Bengaluru
278204,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19,6,19.6,Shashank Singh,6,...,184,120,7,NaN,61,30,0,"('KA Jamieson', 'Shashank Singh')",False,Royal Challengers Bengaluru

In [ ]:
def set_econ(row):
  # Get the economy for the current bowler, ensuring a scalar is returned
  econ_series = bowlers[bowlers['bowler'] == row['bowler']]['economy']
  # Check if the series is not empty to prevent IndexError
  return econ_series.iloc[0] if not econ_series.empty else np.nan
def batter_avg(row):
  # Get the batting average for the current batter, ensuring a scalar is returned
  avg_series = batters[batters['batter'] == row['batter']]['batting_avg']
  # Check if the series is not empty to prevent IndexError
  return avg_series.iloc[0] if not avg_series.empty else np.nan

data['batter_avg'] = data.apply(batter_avg, axis=1)
data['econ'] = data.apply(set_econ, axis=1)

In [ ]:
data

,match_id,date,innings,batting_team,bowling_team,ball_no,batter,bat_pos,runs_batter,balls_faced,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,first_to_bat,batter_avg,econ
0,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.1,SC Ganguly,1,0,1,...,1,1,0,NaN,0,1,0,Kolkata Knight Riders,0.043478,7.301829
1,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.2,BB McCullum,2,0,1,...,1,2,0,NaN,0,1,0,Kolkata Knight Riders,0.276923,7.301829
2,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,0,...,2,2,0,NaN,0,1,0,Kolkata Knight Riders,0.276923,7.301829
3,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,1,...,2,3,0,NaN,0,2,0,Kolkata Knight Riders,0.276923,7.301829
4,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.4,BB McCullum,2,0,1,...,2,4,0,NaN,0,3,0,Kolkata Knight Riders,0.276923,7.301829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.2,Shashank Singh,6,0,1,...,162,116,7,NaN,39,26,0,Royal Challengers Bengaluru,1.181818,8.044843
278201,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.3,Shashank Singh,6,6,1,...,168,117,7,NaN,45,27,0,Royal Challengers Bengaluru,1.181818,8.044843
278202,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.4,Shashank Singh,6,4,1,...,172,118,7,NaN,49,28,0,Royal Challengers Bengaluru,1.181818,8.044843
278203,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.5,Shashank Singh,6,6,1,...,178,119,7,NaN,55,29,0,Royal Challengers Bengaluru,1.181818,8.044843
278204,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.6,Shashank Singh,6,6,1,...,184,120,7,NaN,61,30,0,Royal Challengers Bengaluru,1.181818,8.044843

In [ ]:
data['runs_bowler'].value_counts()

runs_bowler
1    99050
0    88984
4    28455
2    15990
6    12837
3      821
5      482
7       86
Name: count, dtype: int64

In [ ]:
data['stage'] = data['stage'].replace({'Unknown': 'league'})
data

,match_id,date,innings,batting_team,bowling_team,ball_no,batter,bat_pos,runs_batter,balls_faced,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,first_to_bat,batter_avg,econ
0,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.1,SC Ganguly,1,0,1,...,1,1,0,NaN,0,1,0,Kolkata Knight Riders,0.043478,7.301829
1,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.2,BB McCullum,2,0,1,...,1,2,0,NaN,0,1,0,Kolkata Knight Riders,0.276923,7.301829
2,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,0,...,2,2,0,NaN,0,1,0,Kolkata Knight Riders,0.276923,7.301829
3,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,1,...,2,3,0,NaN,0,2,0,Kolkata Knight Riders,0.276923,7.301829
4,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.4,BB McCullum,2,0,1,...,2,4,0,NaN,0,3,0,Kolkata Knight Riders,0.276923,7.301829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.2,Shashank Singh,6,0,1,...,162,116,7,NaN,39,26,0,Royal Challengers Bengaluru,1.181818,8.044843
278201,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.3,Shashank Singh,6,6,1,...,168,117,7,NaN,45,27,0,Royal Challengers Bengaluru,1.181818,8.044843
278202,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.4,Shashank Singh,6,4,1,...,172,118,7,NaN,49,28,0,Royal Challengers Bengaluru,1.181818,8.044843
278203,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.5,Shashank Singh,6,6,1,...,178,119,7,NaN,55,29,0,Royal Challengers Bengaluru,1.181818,8.044843
278204,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.6,Shashank Singh,6,6,1,...,184,120,7,NaN,61,30,0,Royal Challengers Bengaluru,1.181818,8.044843

In [ ]:
to_drop = [ 'runs_bowler',
           'wicket_kind', 'new_batter', ]
data = data.drop(to_drop, axis =1)
data

,match_id,date,innings,batting_team,bowling_team,ball_no,batter,bat_pos,runs_batter,balls_faced,...,stage,team_runs,team_balls,team_wicket,batter_runs,batter_balls,bowler_wicket,first_to_bat,batter_avg,econ
0,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.1,SC Ganguly,1,0,1,...,league,1,1,0,0,1,0,Kolkata Knight Riders,0.043478,7.301829
1,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.2,BB McCullum,2,0,1,...,league,1,2,0,0,1,0,Kolkata Knight Riders,0.276923,7.301829
2,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,0,...,league,2,2,0,0,1,0,Kolkata Knight Riders,0.276923,7.301829
3,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,BB McCullum,2,0,1,...,league,2,3,0,0,2,0,Kolkata Knight Riders,0.276923,7.301829
4,335982,2008-04-18,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.4,BB McCullum,2,0,1,...,league,2,4,0,0,3,0,Kolkata Knight Riders,0.276923,7.301829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.2,Shashank Singh,6,0,1,...,Final,162,116,7,39,26,0,Royal Challengers Bengaluru,1.181818,8.044843
278201,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.3,Shashank Singh,6,6,1,...,Final,168,117,7,45,27,0,Royal Challengers Bengaluru,1.181818,8.044843
278202,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.4,Shashank Singh,6,4,1,...,Final,172,118,7,49,28,0,Royal Challengers Bengaluru,1.181818,8.044843
278203,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.5,Shashank Singh,6,6,1,...,Final,178,119,7,55,29,0,Royal Challengers Bengaluru,1.181818,8.044843
278204,1473511,2025-06-03,2,Punjab Kings,Royal Challengers Bengaluru,19.6,Shashank Singh,6,6,1,...,Final,184,120,7,61,30,0,Royal Challengers Bengaluru,1.181818,8.044843

In [ ]:
data['team_runs'].value_counts()

team_runs
1      2769
0      2557
4      2121
2      2051
5      2006
       ...
273       1
280       1
282       1
286       1
276       1
Name: count, Length: 283, dtype: int64

In [ ]:
def is_wicket(row):
  if row['wicket_kind'] == 'not_out':
    return 0
  else:
    return 1
data['is_wicket'] = df.apply(is_wicket, axis=1)

In [ ]:
data["runs_last_6"] = (
    df.groupby(['match_id', 'innings'])["runs_total"]
      .shift(0)
      .rolling(6)
      .sum()
      .fillna(0)
)
data["runs_last_12"] = (
    df.groupby(['match_id', 'innings'])["runs_total"]
      .shift(0)
      .rolling(12)
      .sum()
      .fillna(0)
)
data["wkts_last_12"] = (
    data.groupby(['match_id', 'innings'])["is_wicket"]
      .shift(0)
      .rolling(12)
      .sum()
      .fillna(0)
)

In [ ]:
data.columns

Index(['match_id', 'date', 'innings', 'batting_team', 'bowling_team',
       'ball_no', 'batter', 'bat_pos', 'runs_batter', 'balls_faced', 'bowler',
       'valid_ball', 'runs_extras', 'runs_total', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'player_out',
       'runs_target', 'match_won_by', 'venue', 'season', 'stage', 'team_runs',
       'team_balls', 'team_wicket', 'batter_runs', 'batter_balls',
       'bowler_wicket', 'first_to_bat', 'batter_avg', 'econ', 'is_wicket',
       'runs_last_6', 'runs_last_12', 'wkts_last_12'],
      dtype='object')

In [ ]:
innings_1 = data[data['innings']==1]
def target(match_id):
  return matches_sumary[matches_sumary['match_id'] == match_id]['runs_target'].iloc[0]
innings_1['target'] = innings_1['match_id'].apply(target)
innings_2 = data[data['innings']==2]

/tmp/ipython-input-3438686711.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  innings_1['target'] = innings_1['match_id'].apply(target)

In [ ]:
innings_1.to_csv('/content/dataset/innings_1.csv', index=False)
innings_2.to_csv('/content/dataset/innings_2.csv', index=False)
data.to_csv('/content/dataset/data_filtered.csv', index=False)
batters_matchwise.to_csv('/content/dataset/batters_matchwise.csv', index=False)
batters.to_csv('/content/dataset/batters.csv', index=False)
bowlers_matchwise.to_csv('/content/dataset/bowlers_matchwise.csv', index=False)
bowlers.to_csv('/content/dataset/bowlers.csv', index=False)
matches_inning_wise.to_csv('/content/dataset/matches_inning_wise.csv', index=False)
matches_sumary.to_csv('/content/dataset/matches_sumary.csv', index=False)
matches.to_csv('/content/dataset/matches.csv', index=False)

In [ ]:
!zip -r dataset.zip dataset/

  adding: dataset/ (stored 0%)
  adding: dataset/matches_sumary.csv (deflated 90%)
  adding: dataset/innings_1.csv (deflated 92%)
  adding: dataset/bowlers_matchwise.csv (deflated 75%)
  adding: dataset/data.csv (deflated 94%)
  adding: dataset/matches.csv (deflated 97%)
  adding: dataset/batters_matchwise.csv (deflated 86%)
  adding: dataset/innings_2.csv (deflated 91%)
  adding: dataset/matches_inning_wise.csv (deflated 89%)
  adding: dataset/batters.csv (deflated 57%)
  adding: dataset/bowlers.csv (deflated 48%)
  adding: dataset/data_filtered.csv (deflated 91%)

In [ ]:
from google.colab import files
files.download('/content/dataset.zip')